/* wrapper-scale */
.penpot-overlay-root .wrappersc-1dff4fa4d7c6 {
    position: absolute;
    left: 751px;
    top: 2050px;
    width: 750px;
    height: 40px;
}

/* wrapper-scale-labels */
.penpot-overlay-root .wrappersc-1e02376d0fb8 {
    position: absolute;
    left: 54px;
    top: 0px;
    width: 644px;
    height: 30.48px;
}

/* 2 m */
.penpot-overlay-root .c-2-m {
    position: absolute;
    left: 150px;
    top: 0px;
    width: 44px;
    height: 30.48px;
}

.penpot-overlay-root .c-2-m .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.penpot-overlay-root .c-2-m .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.penpot-overlay-root .c-2-m .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.penpot-overlay-root .c-2-m .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* 1 m */
.penpot-overlay-root .c-1-m {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 30.48px;
}

.penpot-overlay-root .c-1-m .root-0 {


    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.penpot-overlay-root .c-1-m .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.penpot-overlay-root .c-1-m .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.penpot-overlay-root .c-1-m .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* 3 m */
.penpot-overlay-root .c-3-m {
    position: absolute;
    left: 300px;
    top: 0px;
    width: 44px;
    height: 30.48px;
}

.penpot-overlay-root .c-3-m .root-0 {


    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.penpot-overlay-root .c-3-m .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.penpot-overlay-root .c-3-m .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.penpot-overlay-root .c-3-m .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* 4 m */
.penpot-overlay-root .c-4-m {
    position: absolute;
    left: 450px;
    top: 0px;
    width: 44px;
    height: 30.48px;
}

.penpot-overlay-root .c-4-m .root-0 {


    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.penpot-overlay-root .c-4-m .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.penpot-overlay-root .c-4-m .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.penpot-overlay-root .c-4-m .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* 5 m */
.penpot-overlay-root .c-5-m {
    position: absolute;
    left: 600px;
    top: 0px;
    width: 44px;
    height: 30.48px;
}

.penpot-overlay-root .c-5-m .root-0 {


    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.penpot-overlay-root .c-5-m .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.penpot-overlay-root .c-5-m .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.penpot-overlay-root .c-5-m .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(0, 0, 0, 1);
    text-transform: none;

    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    font-size: 14px;
    text-rendering: geometricPrecision;
    caret-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* scale-part-5 */
.penpot-overlay-root .scalepart-5 {
    position: absolute;
    left: 600px;
    top: 30.48px;
    width: 150px;
    height: 9.52px;
    background: #000000FF;
    border-radius: 0px 0px 0px 0px;
}

/* scale-part-4 */
.penpot-overlay-root .scalepart-4 {
    position: absolute;
    left: 450px;
    top: 30.48px;
    width: 150px;
    height: 9.52px;
    background: #ffffffFF;
    border-radius: 0px 0px 0px 0px;
}

/* scale-part-3 */
.penpot-overlay-root .scalepart-3 {
    position: absolute;
    left: 300px;
    top: 30.48px;
    width: 150px;
    height: 9.52px;
    background: #000000FF;
    border-radius: 0px 0px 0px 0px;
}

/* scale-part-2 */
.penpot-overlay-root .scalepart-2 {
    position: absolute;
    left: 150px;
    top: 30.48px;
    width: 150px;
    height: 9.52px;
    background: #ffffffFF;
    border-radius: 0px 0px 0px 0px;
}

/* scale-part-1 */
.penpot-overlay-root .scalepart-1 {
    position: absolute;
    left: 0px;
    top: 30.48px;
    width: 150px;
    height: 9.52px;
    background: #000000FF;
    border-radius: 0px 0px 0px 0px;
}